html{
    background-image: linear-gradient(#FC5E55,#FA4083);
}

body{
    background: url('./images/image-lion-background.png');
    background-position: top center;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container{
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

main{
    
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards{
    
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.card1{
    background-image: url('./images/image-background-card1.jpg');
    width: 30%;
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
}
.card2{
    background-image: url('./images/image-background-card2.jpg');
    width: 30%;
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
}
.card3{
    background-image: url('./images/image-background-card3.jpg');
    width: 30%;
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
}

.card1,.card2,.card3{
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 1px 1px pink;
}

.herobox1{
    flex:2;
    padding-right: 100px;
    
}

.herobox2{
    flex:1;
}
a{
    color: white;
    text-decoration: none;
}
h1{
    font-size: 60px;
    color:  white;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
}

p{
    line-height: 1.55rem;
    margin-bottom: 0.5rem;
}

h2{
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

.cards p{
    font-size: 0.85rem;
    text-align: center;
    margin: 10px 30px 20px 30px;
    line-height: 1.35rem;
    font-weight: 100;
}

.cards i{
    font-size: 80px;
}

.cards a{
    text-decoration: none;
    color: white;
}

.mybutton{
    background-color: white;
    color: #FA4083;
    padding: 11px 25px;
    /* border-radius: 5px; */
    font-weight: 500;
    font-family: 'Playfair Display', serif;
  
}

a.mybutton{
    display: inline-block;
    margin-top: 20px;
}

.mybutton:hover{
    background-color: #ffffff;
    color: black;
}



.pic{
    box-shadow: 10px 10px ;
  
}

.testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tbox{
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 50px;
}

.navbutton{
    margin-left: 20px;
    border: 2px solid white;
    padding: 8px 15px;
    display: inline-block;
    position: relative;
}

.dropdown{
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    text-align: center;

}

.navbutton:hover .dropdown{
    display: block;
}

.dropdown .navbutton{
    width: 120px;
    background-color: white;
}

.dropdown .navbutton a{
    color: #FA4083;
}

.main2{
    min-height: 300px;
    padding-top: 50px;
}

.inputwrapper{
    margin-bottom: 20px;
}

input[type=text],input[type=email],textarea{
    padding: 12px 20px;
    width: 96%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;

}

.newline{
    display: block;
    margin-bottom: 10px;
}

form{
    margin:40px 0px;
}